# Importing required libraries

In [2]:
import numpy as np 
import pandas as pd 
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
import json 
from geopy.geocoders import Nominatim 
import requests  
import matplotlib.cm as cm
import matplotlib.colors as colors
from sklearn.cluster import KMeans
import folium 
print('Libraries imported.')

Libraries imported.

# Getting tables from given url

In [3]:
url="https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"

In [4]:
dat =  pd.read_html(url)
len(dat)

3

# Getting the required table for our project

In [5]:
tab = dat[0]
tab = pd.DataFrame(tab)
print(tab.shape)
tab.head(5)

(180, 3)

  Postal Code           Borough              Neighbourhood
0         M1A      Not assigned               Not assigned
1         M2A      Not assigned               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

# Removing the rows with 'Not Assigned' value in 'Borough column'

### firstly we will set the index to 'Borough' then we will drop the rows with index 'Not assigned' then we will reset the index

In [6]:
tab = tab.set_index('Borough')
tab = tab.drop('Not assigned',axis=0)
tab = tab.reset_index()
print(tab.shape)
tab.head()

(103, 3)

            Borough Postal Code                                Neighbourhood
0        North York         M3A                                    Parkwoods
1        North York         M4A                             Victoria Village
2  Downtown Toronto         M5A                    Regent Park, Harbourfront
3        North York         M6A             Lawrence Manor, Lawrence Heights
4  Downtown Toronto         M7A  Queen's Park, Ontario Provincial Government

# checking weather the Postal code is repeated or unique

In [7]:
len(tab['Postal Code'].unique())

103

# printing number of rows in dataframe

In [8]:
print('number of rows is {} and columns is {} '.format(tab.shape[0],tab.shape[1]))

number of rows is 103 and columns is 3

In [9]:
data =tab

In [17]:
import geocoder

# Getting longitude and Lattitude for all Postal Codes

In [16]:
index=0
for postal_code in data['Postal Code']:
    lat_lng_coords = None
    # loop until you get the coordinates
    g = geocoder.google('{}, Toronto, Ontario'.format(postal_code))
    lat_lng_coords = g.latlng
    data['Latitude'][index] = lat_lng_coords[0]
    data['Longitude'][index] = lat_lng_coords[1]
    index=index+1

# above method is unreliable so im trying with downloaded data

In [50]:
cd = pd.read_csv(r'C:\Users\LOKSUNDAR\Downloads\Geospatial_Coordinates.csv')
cd=cd.set_index('Postal Code')# converting postal code to indexc
cd.head()

              Latitude  Longitude
Postal Code
M1B          43.806686 -79.194353
M1C          43.784535 -79.160497
M1E          43.763573 -79.188711
M1G          43.770992 -79.216917
M1H          43.773136 -79.239476

# now we create two list and add the long and lat values with-respect to postalcodes  to the lists and later we will add them to tha data frame

In [51]:
index=0
lat=list()
lon=list()
for postal_code in data['Postal Code']:
    loc = cd.loc[postal_code]
    lat.append(loc[0])
    lon.append(loc[1])
    index=index+1
data['Latitude']=lat
data['Longitude']=lon
data.head()

,Borough,Postal Code,Neighbourhood,Latitude,Longitude
0,North York,M3A,Parkwoods,43.753259,-79.329656
1,North York,M4A,Victoria Village,43.725882,-79.315572
2,Downtown Toronto,M5A,"Regent Park, Harbourfront",43.654260,-79.360636
3,North York,M6A,"Lawrence Manor, Lawrence Heights",43.718518,-79.464763
4,Downtown Toronto,M7A,"Queen's Park, Ontario Provincial Government",43.662301,-79.389494