# Importing required libraries

In [1]:
import numpy as np 
import pandas as pd 
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
import json 
from geopy.geocoders import Nominatim 
import requests  
import matplotlib.cm as cm
import matplotlib.colors as colors
from sklearn.cluster import KMeans
import folium 
print('Libraries imported.')

Libraries imported.

# Getting tables from given url

In [2]:
url="https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"

In [5]:
dat =  pd.read_html(url)
len(dat)

3

# Getting the required table for our project

In [27]:
tab = dat[0]
tab = pd.DataFrame(tab)
print(tab.shape)
tab.head(5)

(180, 3)

  Postal Code           Borough              Neighbourhood
0         M1A      Not assigned               Not assigned
1         M2A      Not assigned               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

# Removing the rows with 'Not Assigned' value in 'Borough column'

### firstly we will set the index to 'Borough' then we will drop the rows with index 'Not assigned' then we will reset the index

In [28]:
tab = tab.set_index('Borough')
tab = tab.drop('Not assigned',axis=0)
tab = tab.reset_index()
print(tab.shape)
tab.head()

(103, 3)

            Borough Postal Code                                Neighbourhood
0        North York         M3A                                    Parkwoods
1        North York         M4A                             Victoria Village
2  Downtown Toronto         M5A                    Regent Park, Harbourfront
3        North York         M6A             Lawrence Manor, Lawrence Heights
4  Downtown Toronto         M7A  Queen's Park, Ontario Provincial Government

# checking weather the Postal code is repeated or unique

In [31]:
len(tab['Postal Code'].unique())

103

# printing number of rows in dataframe

In [35]:
print('number of rows is {} and columns is {} '.format(tab.shape[0],tab.shape[1]))

number of rows is 103 and columns is 3